html {
    scroll-behavior: smooth;
}
body {
    text-align: center;
    font-family: "HK Grotesk", Helvetica, arial, sans-serif;
    background-color: #121212;
    color: white;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 2.25rem;
    width: 396px;
    margin: auto;
    margin-top: 3em;
    max-width: 100vw;
}
.display-block {
    display: block;
}
input {
    border: none;
    outline: none
}
input:disabled + label {
    cursor: not-allowed !important;
}
footer {
    margin-top: 2em;
}
.display-flex {
    display: flex;
}
.highlight-good {
    background-color: green;
    color: white
}
.highlight-bad {
    background-color: red;
    color: white;
}
.text-align-center {
    text-align: center;
}
header {
    text-align: left;
}
.margin-auto {
    margin: auto
}
.card input {
    display: block;
    padding: .8em;
    margin: .5em;
}
input:read-only {
    cursor: default
}
.display-inline-block {
    display: inline-block;
}
.display-none {
    display: none;
}
#description, #notice, footer > p {
    max-width: 90vw;
    margin: auto;
}
#item-1-container {
    margin-right: .5em;
}
#item-2-container {
    margin-left: 0.5em;
}
#compare-container .card > #item-1-result-table {
    background: red;
    position: absolute;
    padding: .8em;
    margin: 0 0.5em;
}
.card input:last-of-type {
    margin-bottom: 0;
}
.card input {
    width: 154px;
}

/* switch field styling was taken from https://thestizmedia.com/radio-buttons-as-toggle-buttons-with-css/ */
.switch-field {
    display: flex;
    /* margin-bottom: 36px; */
    overflow: hidden;
}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.switch-field label {
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}
.switch-field label:hover {
    cursor: pointer;
}
.switch-field input:checked + label {
    background-color: green;
    color: white;
    box-shadow: none;
}
.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

@media only screen

  and (min-device-width: 375px)

  and (max-device-width: 667px)

  and (-webkit-min-device-pixel-ratio: 2) {

  .card input {
      width: 130px;
      font-size: .9em;
  }

}